<div class="container max-w-[1200px] mx-auto flex flex-col gap-8 p-4 items-center">
  <h1 class="font-medium text-4xl text-gray-100 text-center">Create a new article</h1>
  <%= render 'form' %>
</div>