<h1>Showing article details</h1>

<h4>Title: </h4><p><%= @article.title %></p>
<h4>Description: </h4><p><%= @article.description %></p>

<span><%= link_to 'Edit', edit_article_path(@article) %></span>
<span>
  <%= button_to 'Delete', article_path(@article), 
          method: :delete, 
          data: { turbo_confirm: "Are you sure?"} %>
</span>
