<div class="container max-w-[1200px] mx-auto flex flex-col gap-8 p-4">
  <h1 class="font-medium text-4xl text-gray-100 text-center mt-4 mb-8"><%= @user.username%>'s profile</h1>
  <%= gravatar_for @user, size: 200 %>

  <h3 class="text-center mt-6 text-gray-400 text-2xl font-semibold">Articles</h3>

  <%= render 'articles/article' %>
</div>