<div class="container max-w-[1200px] mx-auto flex flex-col gap-12 p-4 items-center">
  <h1 class="text-center text-4xl text-gray-100">About us:</h1>
  <div class="flex flex-col gap-2 text-gray-300 text-[1.125rem] leading-snug">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi nunc, pellentesque at enim sit amet, molestie condimentum metus. Etiam libero nisl, mattis in turpis et, vulputate egestas justo. Nam ut ligula turpis. Fusce cursus sapien ac neque aliquam pulvinar. Proin non elit molestie, faucibus enim ac, luctus orci. Mauris varius luctus neque, sed pretium neque rutrum id. Donec vulputate, nulla ut euismod tristique, justo felis convallis ipsum, et sagittis nulla lorem et sem. Maecenas congue a nisi eu cursus.</p>

    <p>Maecenas scelerisque lacinia metus accumsan molestie. Etiam interdum tincidunt ligula. Aliquam placerat, nunc eu tempor convallis, tortor est venenatis turpis, sed laoreet lacus massa imperdiet eros. Donec ornare non lectus ac luctus. Mauris egestas porttitor lectus id volutpat. Suspendisse sed porttitor sapien, accumsan egestas sem. Nam ut sollicitudin diam.</p>

    <p>Aliquam ullamcorper bibendum nunc, non eleifend sapien vulputate a. Vestibulum vel leo sit amet neque placerat semper at eu sapien. Nulla velit sem, elementum eget accumsan ut, tincidunt vitae leo. Donec fermentum lorem sed magna euismod, sit amet dignissim felis venenatis. Morbi nec ante varius, commodo ex non, auctor est. Vivamus dignissim finibus nunc quis efficitur. Aenean nec massa arcu. Donec blandit sed nisi eget semper. Suspendisse vulputate viverra dolor porttitor ultrices. Sed efficitur dictum odio sit amet aliquam. Ut rhoncus viverra feugiat. In hac habitasse platea dictumst. Ut ultricies dapibus ex eu laoreet.</p>

    <p>Quisque rutrum est velit, eget eleifend est accumsan sit amet. Ut a lectus orci. Vestibulum lacinia finibus dui, a ornare erat consequat id. Sed finibus hendrerit sagittis. Fusce sit amet orci ac ante ullamcorper fermentum. Etiam facilisis eu ligula consequat mollis. Morbi eget massa vulputate, commodo dolor quis, scelerisque nulla. Duis consequat suscipit magna vitae vulputate. Praesent commodo finibus velit nec ullamcorper. Vivamus pharetra nisi libero, sodales auctor mauris convallis vel.</p>

    <p>Ut ac risus ut quam tempor imperdiet. Ut varius mauris a tempus molestie. Aliquam lobortis iaculis fringilla. Mauris ut tortor augue. Nulla tincidunt, mauris at pellentesque commodo, erat ante egestas est, aliquam sodales est ante vitae dolor. In sit amet metus dapibus, fermentum tortor posuere, aliquam mauris. Donec hendrerit semper lectus, vulputate luctus sem tempus et.</p>
  </div>
</div>