<main class="container max-w-[1200px] mx-auto flex flex-col items-center gap-4 p-4">

  <h1 class="text-3xl text-gray-100 font-medium mt-16 mb-28">Welcome to Articles</h1>

  <%= link_to 'Sign Up', signup_path, class: "text-2xl font-semibold text-blue-600 border-2 border-blue-700 py-2 px-4 hover:bg-blue-700 hover:text-gray-100 transition-colors duration-300 rounded-sm w-fit" %>

  <span class="italic text-gray-400 font-medium text-center">OR</span>
  <%= link_to 'See posted articles', articles_path, class: "text-2xl text-gray-100 bg-gray-600 py-2 px-4 hover:bg-gray-400 transition-colors duration-300 rounded-sm w-fit" %>

</main>